*{
    margin: 0; 
    padding: 0; 
}

header{
    background-color: rgb(43, 171, 226); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    background-color: rgb(0, 11, 211);
    color: azure;
    margin: 10px 0;
    padding: 10px 20px;
}

div{
    padding: 30px;
}

@media screen and (min-width:1024px){
section{
    background-color: brown;
}
}